[Unit]
Description=Rebase OS to fcos-zfs image
ConditionFirstBoot=true
Before=first-boot-complete.target
Wants=first-boot-complete.target
After=network-online.target
After=ignition-diskful.target

[Service]
ExecStart=rpm-ostree rebase --reboot ostree-unverified-registry:ghcr.io/computator/fcos-zfs

[Install]
WantedBy=multi-user.target
